.panda-card{
    margin:0;
}
.panda-card-footer{
    background-color:white;
    border:0;
    padding:15px;
}
.catagories img{
    width:100px
}
.panda-slide .carousel-item{
    background-color:#fceae8;
    border-radius:1em;
}